@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.footerw {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(1, 1, 28);
    width: 100%;
    color: white;
    padding-top: 100px;
}

#iden {
    font-weight: 400;
    letter-spacing: 1ch;
}

#id1 {
    margin-top: 20px;
    line-height: 150%;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 300;
}

.pics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.points {
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.link_ {
    text-decoration: none;
    color: aliceblue;
}

.link_:hover {
    color: #6DCFF6;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .points {
        margin-left: 10%;
        margin-right: 10%;
        gap: 10px;
    }
}